# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd


# Django
*.log
local_settings.py
db_sqlite3
media/
staticfiles/


# Virtual environments
myPythonVEnv/
.myPythonVEnv/
venv/
env/
.venv/


# Environment variables
.env


# IDE files
.vscode/
.idea/
.subl


# macOS
.DS_Store


# Cache/test files
.pytest_cache/
.coverage
htmlcov/
