<!DOCTYPE html>
<html>

<head>
	<title>Recommended Jobs</title>
</head>

<body>
	<h1>Top 10 Recommended Jobs</h1>

	{% if candidate %}
		<p>
			Showing recommendations for:
			<strong>{{ candidate.full_name }}</strong>
		</p>

		<hr>

		{% for item in results %}
			<div>
				<h2>{{ item.job.job_title }}</h2>

				<p>
					<strong>Company:</strong>
					{{ item.job.employer.company_name }}
				</p>

				<p>
					<strong>Match Score:</strong>
					{{ item.score }}
				</p>

				<p>
					<strong>Description:</strong>
					{{ item.job.job_description }}
				</p>

				<p>
					<strong>Required Education:</strong>
					{{ item.job.get_required_education_level_display }}
				</p>

				<p>
					<strong>Required Experience:</strong>
					{{ item.job.required_years_of_experience }} years
				</p>

				<p>
					<strong>Work Mode:</strong>
					{{ item.job.get_work_mode_display }}
				</p>

				<p>
					<strong>Location:</strong>
					{{ item.job.job_location}}
				</p>

				<p>
					<strong>Required Skills:</strong>
					{% for skill in item.job.required_skills.all %}
						{{ skill.name }}{% if not forloop.last %}, {% endif %}
					{% empty %}
						No skills listed.
					{% endfor %}
				</p>
			</div>

			<hr>
		{% empty %}
			<p>No recommended jobs found.</p>
		{% endfor %}
	{% else %}
		<p>No candidate profile found. Please create a candidate profile first.</p>
	{% endif %}


		<p>
			<a href="{% url 'job_list' %}">Back to all jobs</a>
		</p>
</body>

</html>