{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="profile-page">
    <div class="profile-card">
        <div class="profile-top">
            <div class="profile-avatar">
                <img src="{% static 'images/icon-users.png' %}" alt="candidate icon">
            </div>

            <h1>{{ candidate.full_name }}</h1>
            <p>{{ candidate.contact_email }}</p>
            <span class="profile-badge">{{ candidate.get_education_level_display }}</span>
        </div>

        <div class="profile-details">
            <div><strong>Phone</strong><p>{{ candidate.phone_number }}</p></div>
            <div><strong>Major</strong><p>{{ candidate.major }}</p></div>
            <div><strong>Experience</strong><p>{{ candidate.years_of_experience }} years</p></div>
            <div><strong>Preferred Location</strong><p>{{ candidate.preferred_location }}</p></div>
            <div><strong>Preferred Work Mode</strong><p>{{ candidate.preferred_work_mode }}</p></div>
            <div>
                <strong>Skills</strong>
                <p>
                    {% for skill in candidate.skills.all %}
                        {{ skill.name }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        No skills listed.
                    {% endfor %}
                </p>
            </div>
        </div>

        {% if candidate.resume %}
            <div class="resume-box">
                <strong>Resume</strong>
                <a href="{{ candidate.resume.url }}">View uploaded resume</a>
            </div>
        {% endif %}

        <div class="profile-actions">
            <a href="{% url 'edit_my_candidate_profile' %}" class="btn primary-btn">Edit my profile</a>
            <a href="{% url 'dashboard' %}" class="btn secondary-btn">Back to dashboard</a>
        </div>
    </div>
</section>

{% endblock %}
